.btn {
  display: inline-block;
  border-radius: 5px;
  border: 0;
  height: 44px;

  background-color: var(--color-primary-400);
  color: var(--color-white);

  font: inherit;
  font-weight: 700;

  cursor: pointer;
  transition: all 0.15s ease-out;

  &:hover {
    background-color: var(--color-primary-300);
  }

  &--w100 {
    display: block;
    width: 100%;
  }
}
