:root {
  --color-primary-400:    #4d148c;
  --color-secondary-400:  #ff6200;
  --color-gray-100:       #fafafa;
  --color-gray-600:       #333333;
  --color-white:          #ffffff;

  --font-family:          'Poppins', sans-serif;
  --font-base-size:       16px;

  --app-width-min:        95vw;
  --app-width-max:        1400px;
  --container-sm:         30rem;
}

